@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using Identity.Models.Identity;
@using Identity.Models.Identity.ViewModels


@{ ViewData["Title"] = "Login"; }

<h2>@ViewData["Title"]</h2>
<div class="row">
    
    jfbgjkrg
</div>
